<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Footer</title>
</head>
<body>
  <footer class="bg-gray-800 text-white py-6 mt-10">
  <div class="container mx-auto text-center">
    <p>&copy; 2025 MealMatrix. All Rights Reserved.</p>
    <p class="mt-2 text-sm text-gray-400">Designed for Catering Reservation & Ordering System Project</p>
  </div>
</footer>


</body>
</html>