<header class="bg-white shadow-md">
  <nav class="container mx-auto flex justify-between items-center py-4 px-2 flex-wrap md:flex-wrap-reverse">
    <!-- Logo -->
    <div class="flex items-center gap-2">
      <img src="/images/logo.png" alt="MealMatrix Logo" class="h-10">
      <span class="text-2xl font-bold text-orange-600 mx:hidden">MealMatrix</span>
    </div>

    <!-- Search Bar + Profile -->
    <div class="flex items-center gap-4">
      <!-- Search -->
      <input type="text" name="search" placeholder="Search your food here..."
        class="w-90 h-10 px-4 rounded-full border border-gray-300 focus:border-orange-600 focus:ring-2 focus:ring-orange-200 outline-none transition">
    </div>

    <!-- Profile Icon -->
  </nav>
</header>